.resume {
  height: 100%;
  position: sticky;
}

.timeline {
  display: flex;
  width: 100%;
  padding: 30px;

  &__experience,
  &__education {
    width: 140%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__vertical-timeline-element {
      padding: 0px 0px 30px 0px;
    }
    &:last-child {
      padding-bottom: 0px;
    }
  }

  .vertical-timeline-element-title-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2px;

    h3,
    h4 {
      font-size: 15px;
      margin-right: 10px;
    }

    h4 {
      margin-left: 4px;
      margin-right: 12px;
    }

    p {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .vertical-timeline-element-content-wrapper-description {
    font-size: 16px;
  }

  .vertical-timeline-element-content {
    box-shadow: none;
  }

  .vertical-timeline-element-content-arrow {
    display: none;
  }

  .vertical-timeline-element-date {
    opacity: 1;
    color: yellowgreen;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .timeline {
    flex-direction: column;
    &__experience,
    &__education {
      width: 100%;
      gap: 2rem;
    }
  }
}
